.about{
    text-align:center;
    font-family:Pixellari;
    &--title{
        font-size:2rem;
        margin-top:2rem;
        color:#FFFFFF;
        text-align: center;
        text-decoration: underline;
    }
    &--details{
        margin:0 auto;
        display:flex;
        margin-bottom:5rem;
        padding:1rem;
        justify-content:space-between;
        width:60rem;
        &--image{
            width:25rem;height:25rem;
        }
        &--info{
            font-size:2rem;
            text-align:left;
            width:30rem;
        }
    }
}